<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557466075188-booagnj4sfi50hn3ep4kvqbic4a5g71l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557466075188-booagnj4sfi50hn3ep4kvqbic4a5g71l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557466075188-dgoapg1dtg17n17sdbh1oavtlbn1uf5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6WvQWAWLCfiKjhxgK-lLE70qsKBf_gEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>557466075188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartbudgetios.ph</string>
	<key>PROJECT_ID</key>
	<string>smartbudget-98b13</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbudget-98b13.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557466075188:ios:b14a7e91c907799c070a61</string>
</dict>
</plist>